body {
    padding: 20px 40px 20px 40px;
}

.main-container {
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    height: 100%;
}

.header {
    background-color: rgb(3, 41, 3);
    text-align: center;
}

.header h2,
.header h5 {
    color: white
}

.flex-blackjack-row1 h2 {
    color: white
}

.button-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.flex-blackjack-row1 {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    height: 100%;
    border-top: 2px solid rgb(255, 255, 255);
    background: url(/blackjack_assets/images/blackjack-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 300px;
}

.flex-blackjack-row1 div {
    flex: 1;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
}

#dealer-box {
    border-left: 3px solid black;
}


#dealer-box,
#your-box {
    min-width: 225px;
}


#your-box img,
#dealer-box img {
    width: 23%;
    height: auto;
    max-width: 23%;
    object-fit: contain;
    margin: 10px;
}
.flex-blackjack-row2 {
    display: flex;
    justify-content: center;
    background-color: rgb(3, 41, 3);
    height: 150px;
    margin-top: auto;
    border-top: 2px solid white;
}

.button-container button {
    width: 100px;
    height: 60px;
    margin: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.flex-blackjack-row3 {
    background-color: rgb(236, 233, 233)
}

.stats-table {
    width: 100%;
    table-layout: fix;
}

.stats-table th,
.stats-table td {
    width: 33.33%;
    text-align: center;
}

.win {
    color: rgb(68, 150, 237);
}

.loss {
    color: rgb(154, 10, 10);
}

.draw {
    color: rgb(0, 0, 0);
}

#blackjack-result {
    color: white;
}